# If you come from bash you might have to change your $PATH.
export PATH=$HOME/bin:/usr/local/bin:$PATH

if [[ -f "$HOME/.zprofile" ]]; then
    . $HOME/.zprofile
fi
if [[ -z "$TMUX" && -n "$(which tmux)" ]];then
    tmux attach -t TMUX || tmux new -s TMUX
fi
if [[ ! -d "$HOME/.zfunc" ]]; then
    mkdir "$HOME/.zfunc"
fi

# to load custom functions 
fpath=("$HOME/.zfunc" "${fpath[@]}")